src/main/resources/wsdl/Invoice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:dto="http://www.jemco.org/contractorportal/invoice/dto" xmlns:tns="http://www.jemco.org/contractorportal/invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Invoice" targetNamespace="http://www.jemco.org/contractorportal/invoice">
  <wsdl:types>
  
    <xsd:schema targetNamespace="http://www.jemco.org/contractorportal/invoice">
      
      <xsd:import namespace="http://www.jemco.org/contractorportal/invoice/dto" schemaLocation="InvoiceDto.xsd"/>
      
      <xsd:element name="createInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="dto:invoice"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            
      <xsd:element name="createInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:element name="getInvoicePdf">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element ref="dto:invoice"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getInvoicePdfResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:base64Binary"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createInvoiceRequest">
    <wsdl:part element="tns:createInvoice" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createInvoiceResponse">
    <wsdl:part element="tns:createInvoiceResponse" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="getInvoicePdfRequest">
  	<wsdl:part name="parameters" element="tns:getInvoicePdf"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInvoicePdfResponse">
  	<wsdl:part name="parameters" element="tns:getInvoicePdfResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvoiceService">
  
    <wsdl:operation name="createInvoice">
      <wsdl:input message="tns:createInvoiceRequest"/>
      <wsdl:output message="tns:createInvoiceResponse"/>
        </wsdl:operation>


    <wsdl:operation name="getInvoicePdf">
    	<wsdl:input message="tns:getInvoicePdfRequest"></wsdl:input>
    	<wsdl:output message="tns:getInvoicePdfResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceSOAP" type="tns:InvoiceService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="createInvoice">

  		<soap:operation
  			soapAction="http://www.jemco.org/contractorportal/invoice/createInvoice" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>


  	<wsdl:operation name="getInvoicePdf">
  		<soap:operation
  			soapAction="http://www.jemco.org/contractorportal/invoice/getInvoicePdf" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port binding="tns:InvoiceSOAP" name="InvoiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
