contractor-portal-core/src/main/resources/wsdl/Timesheet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:dto="http://www.jemco.org/contractorportal/timesheet/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jemco.org/contractorportal/timesheet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Timesheet" targetNamespace="http://www.jemco.org/contractorportal/timesheet">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.jemco.org/contractorportal/timesheet">
      
      <xsd:import namespace="http://www.jemco.org/contractorportal/timesheet/dto" schemaLocation="TimesheetDto.xsd"/>
      <xsd:element name="createTimesheet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTimesheetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="approveTimesheet">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="approveTimesheetResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTimesheets">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element ref="dto:timesheet" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTimesheetsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTimesheetRequest">
    <wsdl:part element="tns:createTimesheet" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createTimesheetResponse">
    <wsdl:part element="tns:createTimesheetResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="approveTimesheetRequest">
  	<wsdl:part name="parameters" element="tns:approveTimesheet"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="approveTimesheetResponse">
  	<wsdl:part name="parameters" element="tns:approveTimesheetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTimesheetsRequest">
  	<wsdl:part name="parameters" element="tns:updateTimesheets"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTimesheetsResponse">
  	<wsdl:part name="parameters" element="tns:updateTimesheetsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TimesheetService">
    <wsdl:operation name="createTimesheet">
      <wsdl:input message="tns:createTimesheetRequest"/>
      <wsdl:output message="tns:createTimesheetResponse"/>
    </wsdl:operation>

    <wsdl:operation name="updateTimesheets">
    	<wsdl:input message="tns:updateTimesheetsRequest"></wsdl:input>
    	<wsdl:output message="tns:updateTimesheetsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimesheetSOAP" type="tns:TimesheetService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="createTimesheet">

  		<soap:operation
  			soapAction="http://www.jemco.org/contractorportal/timesheet/createTimesheet" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="updateTimesheets">
  		<soap:operation
  			soapAction="http://www.jemco.org/contractorportal/timesheet/updateTimesheets" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimesheetService">
    <wsdl:port binding="tns:TimesheetSOAP" name="TimesheetSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
